%link{rel: :stylesheet, type: :'text/css', href: '/css/generate.css'}

- @chars.each do |c|
	.character{:id => c.name}
		:markdown
			### #{c.name}

			------------
		%ul.traits
			- c.traits_to_s_with_level.each do |elem|
				%li{class: elem.first} #{elem.last}
